/* ============================================= */
/*                   Images                      */
/* ============================================= */
.imgContainer {
   margin: auto;
   text-align: center;

   @include media-query-l($break-l) {
      max-width: 1300px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   }

   div {
      margin: 20px;
   }

   img {
      width: 350px;
      height: 350px;

      @include media-query-l($break-l) {
         width: 200px;
         height: 200px;
      }
   }
}