/* ============================================= */
/*                 Navigation                    */
/* ============================================= */

.logoContainer {
   background-color: #F0F8FF;
   width: 100%;
   height: 80px;
   margin: auto;
   text-align: center;

   .logo {
      width: 80px;
      height: 80px;
      max-width: 100%;
      padding: 15px 15px;
      box-sizing: border-box;
   }
}

